span.star-label {
    position: absolute;
    color: white;
    font-size: 10px;
    /*line-height: 16px;*/
    cursor: default;
    font-family: 'Lekton', monospace;
    margin-top: -6px;
    margin-left: 6px;

}

span.star-label:hover {
    font-size: 20px;
    transition: 30ms;
    margin-top: -12px;
}

